p{
    display:inline-block;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
 text-decoration: none;
 text-shadow: none;
 color: aqua;
}
#per{
    margin-left: 80%;
    display: inline-block;
}
#per{
}
