div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 5px;
    border:dashed;
}
#two{
    background-color: #433C84;
    position: relative;
    top: 45px;
    right: 30px;
}
p{
    color: white;
}